<div class="row justify-content-center align-items-center mt-4">
  <h1>Planning des missions</h1>
</div>

<div *ngIf="isError==false; else errorBlock">
  <div class="row justify-content-center align-items-center">
    <button mdbBtn class="ml-3 mr-3" type="button" color="mdb-color" mdbWavesEffect (click)="prevMonth()">&lt;</button>
    <div class="month-nav col-1">
      <div class="row justify-content-center">{{ currentDate.format('MMMM') | uppercase}}</div>
    </div>
    <button mdbBtn class="ml-3 mr-3" type="button" color="mdb-color" mdbWavesEffect (click)="nextMonth()">&gt;</button>
  </div>

  <div class="row justify-content-center align-items-center">
    <button mdbBtn class="ml-3 mr-3" type="button" color="mdb-color" mdbWavesEffect (click)="prevYear()">&lt;</button>
    <div class="year-nav col-1">
      <div class="row justify-content-center">{{ currentDate.format('YYYY') }}</div>
    </div>
    <button mdbBtn class="ml-3 mr-3" type="button" color="mdb-color" mdbWavesEffect (click)="nextYear()">&gt;</button>
  </div>

  <div class="row justify-content-center align-items-center">
    <table id="missions" class="table table-striped table-bordered mt-3" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th class="th-sm">Lundi</th>
          <th class="th-sm">Mardi</th>
          <th class="th-sm">Mercredi</th>
          <th class="th-sm">Jeudi</th>
          <th class="th-sm">Vendredi</th>
          <th class="th-sm">Samedi</th>
          <th class="th-sm">Dimanche</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeksInMonth">
          <td *ngFor="let day of week">
            <div class="row justify-content-start ml-2">{{day}}</div>
            <div class="row justify-content-center" *ngFor="let uneMission of missionDates"><span
                *ngIf="uneMission.date == day">
                <button mdbBtn type="button" color="unique" mdbWavesEffect style="width: 140px; height: 60px"
                (click)="openModalMission(templateMission, uneMission.missionId)">{{uneMission.type}}</button>
              </span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #templateMission>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Détails de la mission</h4>
  </div>

  <div class="modal-body text-center">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="row justify-content-end">
          <strong>Date de début : </strong>
        </div>
      </div>
      <div class="col ml-4">
        <div class="row justify-content-start">
          <strong>{{mission.startDate | date: "dd/MM/yyyy"}}</strong>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6">
        <div class="row justify-content-end">
          <strong>Date de fin : </strong>
        </div>
      </div>
      <div class="col ml-4">
        <div class="row justify-content-start">
          <strong>{{mission.endDate | date: "dd/MM/yyyy"}}</strong>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6">
        <div class="row justify-content-end">
          <strong>Nature : </strong>
        </div>
      </div>
      <div class="col ml-4">
        <div class="row justify-content-start">
          <strong>{{mission.nature.code}}</strong>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6">
        <div class="row justify-content-end">
          <strong>Ville de départ : </strong>
        </div>
      </div>
      <div class="col ml-4">
        <div class="row justify-content-start">
          <strong>{{mission.villeDepart}}</strong>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6">
        <div class="row justify-content-end">
          <strong>Ville d'arrivée : </strong>
        </div>
      </div>
      <div class="col ml-4">
        <div class="row justify-content-start">
          <strong>{{mission.villeArrivee}}</strong>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6">
        <div class="row justify-content-end">
          <strong>Transport : </strong>
        </div>
      </div>
      <div class="col ml-4">
        <div class="row justify-content-start">
          <strong>{{mission.transport}}</strong>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Fermer</button>
    </div>
  </div>
</ng-template>

<ng-template #errorBlock>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="alert alert-danger ml-3" role="alert">
        {{erreur}}
      </div>
      <div class="d-flex justify-content-center m-1">
        <button class="btn btn-info" (click)="recommencer()">Ok</button>
      </div>
    </div>
  </div>
</ng-template>
