<div class="row justify-content-center mt-4">
  <h1>Demande de mission</h1>
</div>

<div class="row justify-content-center mt-3" *ngIf="creerOk==false; else creerOkBlock">
  <div *ngIf="isError==false; else errorBlock">
    <div class="card shadow bg-white rounded" style="width: 400px; max-width: 800px;">
      <div class="card-body ">
        <form (ngSubmit)="creer()" class="was-validated" #missionCreer="ngForm">

          <div class="row align-items-center">
            <div class="col-5">
              <div class="row justify-content-end">
                <strong>Date de début</strong>
              </div>
            </div>
            <div class="col">
              <input class="form-control mb-1" type="date" name="dateDebut" [(ngModel)]="mission.startDate" required
                min="{{currentDate | date: 'yyyy-MM-dd'}}" #dateDebut="ngModel" />
              <div class="invalid-feedback mb-1" *ngIf="(dateDebut.dirty || dateDebut.touched) && dateDebut.invalid">Date de début de mission requise
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-5">
              <div class="row justify-content-end">
                <strong>Date de fin</strong>
              </div>
            </div>
            <div class="col">
              <input class="form-control mb-1" type="date" name="dateFin" [(ngModel)]="mission.endDate" required
                min="{{currentDate | date: 'yyyy-MM-dd'}}" #dateFin="ngModel" />
              <div class="invalid-feedback mb-1" *ngIf="(dateFin.dirty || dateFin.touched) && dateFin.invalid">Date de fin de mission requise</div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-5">
              <div class="row justify-content-end">
                <strong>Nature</strong>
              </div>
            </div>
            <div class="col">
              <select class="custom-select mb-1 form-control" id="nature" name="nature" [(ngModel)]="mission.nature"
                #nature="ngModel" required>
                <option *ngFor="let uneNature of listeNatures" [ngValue]="uneNature">{{uneNature.code}}</option>
              </select>
              <div class="invalid-feedback mb-1" *ngIf="(nature.dirty || nature.touched) && nature.invalid">Nature
                requis
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-5">
              <div class="row justify-content-end">
                <strong>Ville de départ</strong>
              </div>
            </div>
            <div class="col">
              <input class="form-control mb-1" type="text" name="villeDepart" [(ngModel)]="mission.villeDepart" required
                pattern="[A-Za-z]+" minlength="2" #villeDepart="ngModel">
              <div class="invalid-feedback mb-1"
                *ngIf="(villeDepart.dirty || villeDepart.touched) && villeDepart.invalid">Ville invalide (au moins 2
                caractères)
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-5">
              <div class="row justify-content-end">
                <strong>Ville d'arrivée</strong>
              </div>
            </div>
            <div class="col">
              <input class="form-control mb-1" type="text" name="villeArrivee" [(ngModel)]="mission.villeArrivee"
                required pattern="[A-Za-z]+" minlength="2" #villeArrivee="ngModel" />
              <div class="invalid-feedback mb-1"
                *ngIf="(villeArrivee.dirty || villeArrivee.touched) && villeArrivee.invalid">
                Ville invalide (au moins 2 caractères)</div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-5">
              <div class="row justify-content-end">
                <strong>Transport</strong>
              </div>
            </div>
            <div class="col">
              <select class="custom-select mb-1" name="transport" id="transport" [(ngModel)]="mission.transport"
                required #transport="ngModel">
                <option value="COVOITURAGE">Covoiturage</option>
                <option value="AVION">Avion</option>
                <option value="TRAIN">Train</option>
                <option value="VOITURE_DE_SERVICE">Voiture de service</option>
              </select>
              <div class="invalid-feedback mb-1" *ngIf="(transport.dirty || transport.touched) && transport.invalid">Transport requis
              </div>
            </div>
          </div>

          <!-- <div class="row align-items-center">
            <div class="col-6">
              <div class="row justify-content-end">
                <strong>Estimation prime</strong>
              </div>
            </div>
            <div class="col-6">
              {{(mission.endDate | date)}} -->
          <!-- {{((mission.endDate | date:"dd/MM/yyyy") - (mission.startDate | date:"dd/MM/yyyy").valueOf())}} € -->
          <!-- </div>
          </div> -->

          <div class="d-flex justify-content-around m-1">
            <button [disabled]="missionCreer.invalid" class="btn btn-info">Créer</button>
            <button class="btn btn-info" [routerLink]="['/missions']"
              routerLinkActive="router-link-active">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #errorBlock>
  <div class="col-6">
    <div class="alert alert-danger ml-3" role="alert">
      {{erreur}}
    </div>
    <div class="d-flex justify-content-center m-1">
      <button class="btn btn-info" (click)="recommencer()">Ok</button>
    </div>
  </div>
</ng-template>

<ng-template #creerOkBlock>
  <div class="row justify-content-center">
    <div class="alert alert-success" role="alert">
      Une nouvelle mission a été créée avec succès !
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-center m-1">
      <button class="btn btn-info" [routerLink]="['/missions']" routerLinkActive="router-link-active">Ok</button>
    </div>
  </div>
</ng-template>
