<table>
  <tr>
    <td>{{mission.id}}</td>
    <td>{{mission.startDate| date : "dd/MM/yy"}}</td>
    <td>{{mission.endDate| date : "dd/MM/yy"}}</td>
    <td>{{mission.villeDepart}}</td>
    <td>{{mission.villeArrivee}}</td>
    <td>{{mission.transport}}</td>
  </tr>
</table>


<div *ngIf="!creation && depassementValider == false">
  <div class="jumbotron" width=15>
    <h2>Saisie de Notes de frais</h2>

    <table>
      <tr>
        <th></th>
      </tr>
      <tr>
        <td>Date de Début : </td>
        <td>{{mission.startDate| date :"dd/MM/yyyy"}}</td>
        <td></td>
        <td>Estimation Prix : </td>
        <td>{{mission.prime}}</td>
      </tr>
      <tr>
        <td>Date de Fin : </td>
        <td>{{mission.endDate| date :"dd/MM/yyyy"}}</td>
        <td> </td>
        <td>Ville de Départ : </td>
        <td>{{mission.villeDepart}}</td>
      </tr>
      <tr>
        <td>Nature : </td>
        <td>{{mission.nature.code}}</td>
        <td> </td>
        <td>Ville d'arrivée : </td>
        <td>{{mission.villeArrivee}}</td>
      </tr>

    </table>
  </div>


  <mdb-card class="animated zoomIn">
    <mdb-card-header class="primary-color white-text text-center">

    </mdb-card-header>
    <mdb-card-body>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Nature</th>
            <th>Montant</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="!modification">
          <!-- <tr *ngFor="let ndf of noteDeFraisTab ;let i = index" [attr.data-index]="i">-->
          <tr *ngFor="let ndf of noteDeFraisTab">
            <td>{{ndf.date| date : "dd/MM/yyyy"}}</td>
            <td>{{ndf.nature}}</td>
            <td>{{ndf.montant}}</td>
            <td>
              <a><img class="rounded float-center " src="assets/img/ndf-edit.png" alt="edit" width='19px'
                  (click)="modifierNdfEntry(ndf.id)"></a>
              <a><img class="rounded float-center ml-4" src="assets/img/ndf-trash.png" alt="delete" width='12px'
                  (click)="openModalDelete(templateDelete, ndf.id)"></a>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="modification">
          <td><input class="form-control mb-1" type="date" name="date" [(ngModel)]="currentNdfEntry.date" required
              #date="ngModel" placeholder="dd/MM/yyyy">
            <div class="invalid-feedback mb-1" *ngIf="(date.dirty || date.touched) && date.invalid">
            </div>
          </td>
          <td>
            <select class="custom-select mb-1" name="nature" id="nature" [(ngModel)]="currentNdfEntry.nature">
              <option *ngFor="let nature of ndfNature" [ngValue]="nature">{{nature}}</option>

            </select>
          </td>
          <td><input class="form-control" [(ngModel)]="currentNdfEntry.montant"></td>

          <td><a class="btn btn-success mr-2" (click)="validerModif(templateModif, currentNdfEntryId)" width="4">
              Valider </a>
            <a class="btn btn-warning mr-2" (click)="cancelModif()" width="4"> Annuler </a></td>
        </tbody>
      </table>

      <div *ngIf="!modification" class="text-right">
        <button class="btn btn-success" (click)="creationActivate()">+</button>
      </div>

      <div *ngIf="noteDeFraisTab.length !== 0" class="text-right">
        <button class="btn btn-success" (click)="creer()">Valider</button>
      </div>
    </mdb-card-body>
  </mdb-card>

  <ng-template #templateDelete>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Suppression de ligne :</h4>
    </div>
    <div class="modal-body">
      <table class="ml-2">
        <tr>
          <td>Date : </td>
          <td>{{currentNdfEntry.date | date : "dd/MM/yyyy"}}</td>
        </tr>
        <tr>
          <td>Nature :</td>
          <td>{{currentNdfEntry.nature}}</td>
        </tr>
        <tr>
          <td>Montant :</td>
          <td>{{currentNdfEntry.montant}}</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <p></p>
      <button type="button" class="btn btn-warning" (click)="confirmDelete()">Oui</button>
      <button type="button" class="btn btn-success" (click)="decline()">Non</button>

    </div>

  </ng-template>

  <ng-template #templateModif>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ligne modifiée :</h4>
    </div>
    <div class="modal-body">
      <table class="ml-2">
        <tr>
          <td>Date : </td>
          <td>{{currentNdfEntry.date | date : "dd/MM/yyyy"}}</td>
        </tr>
        <tr>
          <td>Nature :</td>
          <td>{{currentNdfEntry.nature}}</td>
        </tr>
        <tr>
          <td>Montant :</td>
          <td>{{currentNdfEntry.montant}}</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="confirmModif()">OK</button>


    </div>
  </ng-template>
</div>


<div *ngIf="creation == true && erreurAjoutLDF == false">
  <div class="row justify-content-center mt-4">
    <h1>Ajouter ligne de frais</h1>
  </div>

  <div class="row justify-content-center mt-3" *ngIf="creerOk==false; else creerOkBlock">
    <div *ngIf="error==false; else errorBlock">
      <div class="card shadow bg-white rounded" style="width: 400px; max-width: 800px;">
        <div class="card-body ">
          <form class="was-validated" #ndfEntryCreer="ngForm">
            <div class="row align-items-center">
              <div class="col-5">
                <div class="row justify-content-end">
                  <strong>Date</strong>
                </div>
              </div>
              <div class="col">
                <input class="form-control mb-1" type="date" name="date" [(ngModel)]="newNdfEntry.date" required
                  #date="ngModel" placeholder="dd/MM/yyyy" min="mission.startDate" max="mission.endDate"
                  ngvalue="newNdfEntry.date">
                <div class="invalid-feedback mb-1" *ngIf="(date.dirty || date.touched) && date.invalid">
                </div>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-5">
                <div class="row justify-content-end">
                  <strong>Nature</strong>
                </div>
              </div>
              <div class="col">
                <select class="custom-select mb-1" name="nature" id="nature" [(ngModel)]="newNdfEntry.nature"
                  #nature="ngModel">
                  <option *ngFor="let nature of ndfNature" [ngValue]="nature">{{nature}}</option>
                </select>
                <div class="invalid-feedback mb-1" *ngIf="(nature.dirty || nature.touched) && nature.invalid">
                </div>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-5">
                <div class="row justify-content-end">
                  <strong>Montant</strong>
                </div>
              </div>
              <div class="col">
                <input class="form-control mb-1" type="number" name="montant" [(ngModel)]="newNdfEntry.montant"
                  #montant="ngModel" min=0 required>
                <div class="invalid-feedback mb-1" *ngIf="(montant.dirty || montant.touched) && montant.invalid">
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-around m-1">
              <button [disabled]="ndfEntryCreer.invalid" class="btn btn-info" (click)=creerLigneDeFrais()>Créer</button>
              <button class="btn btn-info" (click)="recommencer()">Annuler</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <ng-template #errorBlock>
    <div class="col-6">
      <div class="alert alert-danger ml-3" role="alert">
        {{err}}
      </div>
      <div class="d-flex justify-content-center m-1">
        <button class="btn btn-info" (click)="recommencer()">Ok</button>
      </div>
    </div>
  </ng-template>

  <ng-template #creerOkBlock>
    <div class="row justify-content-center">
      <div class="alert alert-success" role="alert">
        <div class="modal-title">
          Title
        </div>
        <div class="modal-header">
          <h3>Ligne de frais ajoutée</h3>
        </div>
        <div class="modal-body">
          <table class="ml-2">
            <tr>
              <td>Date : </td>
              <td>{{newNdfEntry.date | date : "dd/MM/yyyy"}}</td>
            </tr>
            <tr>
              <td>Nature :</td>
              <td>{{newNdfEntry.nature}}</td>
            </tr>
            <tr>
              <td>Montant :</td>
              <td>{{newNdfEntry.montant}}</td>
            </tr>
            <tr>
              <td>NdfId :</td>
              <td>{{newNdfEntry.ndfCumul.id}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-center m-1">
        <button class="btn btn-info" (click)="recommencer()">Ok</button>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="creation == true && erreurAjoutLDF == true">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="alert alert-danger ml-3" role="alert">
        Erreur : vous ne pouvez pas créer deux lignes de frais identiques, la date de la ligne de frais doit être
        comprise dans les dates de la mission et le montant doit être supérieur à 0!
      </div>
      <div class="d-flex justify-content-center m-1">
        <button class="btn btn-info" (click)="creationActivate()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="creation == false && depassementValider == true">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="alert alert-danger ml-3" role="alert">
          Erreur : vous ne pouvez pas créer deux lignes de frais identiques, la date de la ligne de frais doit être
          comprise dans les dates de la mission et le montant doit être supérieur à 0!
        </div>
        <div class="d-flex justify-content-center m-1">
          <button class="btn btn-info" (click)="recommencer()">Ok</button>
        </div>
      </div>
    </div>
  </div>
